*{
  padding: 0;
  margin:0;
}
body {
  background-color: #191919
}

.m {
  width: 1000px;
  height: 600px;
  position: absolute;
  top: 50%;
  left:50%;
  margin-left: -500px;
  margin-top: -300px;
}
.m #my-video{
  width: 100%;
  height: 100%;
}
/*响应式*/
@media only screen and (min-width: 360px) and (max-width: 420px) {
  .m {
    width: 360px;
    height: 200px;
    top: 50%;
    position: absolute;
    margin-top: -100px;
    left:50%;
    margin-left: -180px;
  }
}
@media only screen and (min-width: 0px) and (max-width:359px) {
  .m {
    width: 320px;
    height: 200px;
    top: 50%;
    position: absolute;
    margin-top: -100px;
    left:50%;
    margin-left: -160px;
  }
}
